*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
}




body {
	margin: 0;
	--color-text: hsl(0, 0%, 91%);
	--color-bg: hsl(254, 52%, 6%);
	--color-link: hsl(262, 86%, 36%);
	--color-link-hover: #fff;
	--color-text-circle-1: hsl(202, 78%, 39%);
	--color-text-circle-2: hsl(202, 78%, 39%);
	--color-text-circle-3: hsl(202, 78%, 39%);
	--color-text-circle-4: hsl(202, 78%, 39%);
	--font-circle-1: ivymode, sans-serif;
	--font-weight-circle-1: 300;
	--font-circle-2: modesto-condensed, serif;
	--font-weight-circle-2: 400;
	--font-circle-3: minerva-modern, sans-serif;
	--font-weight-circle-3: 400;
	--font-circle-4: niagara, serif;
	--font-weight-circle-4: 300;
	--color-button: hsl(259, 75%, 25%);
	--color-text-button: hsl(254, 52%, 6%);
	--dim-button: 90px;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: tenon, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
}


.demo-2 {
	--color-text: hsl(0, 0%, 65%);
	--color-bg: hsl(196, 62%, 21%);
	--color-link: hsl(259, 75%, 25%);
	--color-link-hover: hsl(0, 0%, 100%);
	--color-font-circle: hsl(202, 78%, 39%);
	--color-button: hsl(262, 86%, 36%);
	--color-text-button: #000000;
	--color-text-circle-1: hsl(231, 42%, 16%);
	--color-text-circle-2: hsl(231, 42%, 16%);
	--color-text-circle-3: hsl(231, 42%, 16%);
	--color-text-circle-4: hsl(231, 42%, 16%);
	--font-circle-1: niagara, serif;
	--font-weight-circle-1: 300;
	--font-circle-2: ambroise-firmin-std, serif;
	--font-weight-circle-2: 300;
	--font-circle-3: modesto-condensed, serif;
	--font-weight-circle-3: 400;
	--font-circle-4: niagara, serif;
	--font-weight-circle-4: 300;
}

.demo-3 {
	--color-text: hsl(0, 0%, 100%);
	--color-bg: hsl(254, 52%, 6%);
	--color-link: hsl(262, 86%, 36%);
	--color-link-hover: hsl(202, 78%, 39%);
	--color-font-circle: hsl(262, 86%, 36%);
	--color-button: hsl(29, 13%, 61%);
	--color-text-button: hsl(259, 75%, 25%);
	--color-text-circle-1: hsl(196, 62%, 21%);
	--color-text-circle-2: hsl(196, 62%, 21%);
	--color-text-circle-3: hsl(196, 62%, 21%);
	--color-text-circle-4: hsl(196, 62%, 21%);
	--font-circle-1: modesto-condensed, serif;
	--font-weight-circle-1: 400;
	--font-circle-2: ambroise-firmin-std, serif;
	--font-weight-circle-2: 300;
	--font-circle-3: modesto-condensed, serif;
	--font-weight-circle-3: 400;
	--font-circle-4: niagara, sans-serif;
	--font-weight-circle-4: 300;
}
.demo-4 {
	--color-text: hsl(0, 0%, 100%);
	--color-bg: hsl(231, 42%, 16%);
	--color-link: hsl(30, 17%, 93%);
	--color-link-hover: hsl(40, 5%, 12%);
	--color-font-circle: hsl(0, 0%, 76%);
	--color-button: hsl(259, 75%, 25%);
	--color-text-button: hsl(20, 5%, 48%);
	--color-text-circle-1: hsl(202, 78%, 39%);
	--color-text-circle-2: hsl(202, 78%, 39%);
	--color-text-circle-3: hsl(202, 78%, 39%);
	--color-text-circle-4: hsl(202, 78%, 39%);
	--font-circle-1: modesto-condensed, serif;
	--font-weight-circle-1: 400;
	--font-circle-2: ambroise-firmin-std, serif;
	--font-weight-circle-2: 300;
	--font-circle-3: modesto-condensed, serif;
	--font-weight-circle-3: 400;
	--font-circle-4: niagara, sans-serif;
	--font-weight-circle-4: 300;
}


/* Page Loader */
.js body::before,
.js body::after {
	content: '';
	position: fixed;
	z-index: 1000;
	transition: opacity 0.3s;
	opacity: 0;
	pointer-events: none;
}

.js body::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js body::after {
	content: 'Loading';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	line-height: 1;
	color: var(--color-link);
}

.js .loading::before,
.js .loading::after {
	opacity: 1;
	pointer-events: auto;
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover {
	color: var(--color-link-hover);
	outline: none;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
	background: lightgrey;
}

a:focus:not(:focus-visible) {
	/* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
	background: transparent;
}

a:focus-visible {
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid red;
	background: transparent;
}

.frame {
	padding: 3rem 5vw;
	text-align: center;
	position: relative;
	font-weight: 500;
	will-change: transform;
	
}

.js .frame {
	opacity: 0;
	
}

.frame__title {
	font-size: 3rem;
	margin: 0 0 1rem;
	font-weight: 500;
}

.frame__links {
	display: inline;
}

.frame__links a:not(:last-child),
.frame__demos a:not(:last-child) {
	margin: 0 1rem 0 0;
}

.frame__demos {
	margin: 1rem 0;
}

.frame__demo--current,
.frame__demo--current:hover {
	color: var(--color-text);
}

.enter {
	display: block;
	border: 0;
	width: var(--dim-button);
	height: var(--dim-button);
	position: absolute;
	left: calc(50% - var(--dim-button) / 2 );
	top: calc(50% - var(--dim-button) / 2 );
	font: inherit;
	font-weight: 500;
	cursor: pointer;
	background: none;
	color: var(--color-text-button);
	padding: 0;
}

.enter:focus,
.enter:hover,
.enter:active {
	outline: none;
}

.enter__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: var(--color-button);
}

.enter__text {
	position: relative;
}

.js .enter {
	opacity: 0;
}

.content {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding: 4rem;
	height: calc(100vh - 15rem);
	position: relative;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	
}

.js .content {
	opacity: 0;
}

.content p {
	font-size: 3.34rem;
	font-size: clamp(1.25rem,6vw,2.15rem);
	line-height: 1.36;
	max-width: 900px;
	margin: 0;
	pointer-events: none;
	will-change: transform;
}
.block {
	transition-delay: 2s;
	position: relative;
	margin: 300px auto 0;
	padding : 2em;
	width: 500px;
	height: 250px;
	background: linear-gradient(0deg, hsla(0, 6%, 20%, 0.767), hsl(0, 12%, 22%));
}

.block:before, .block:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.block:after {
	filter: blur(50px);
}

.circles {
	pointer-events: none;
	position: fixed;
	 --dim: 186vmin;
	width: var(--dim);
	height: var(--dim);
	top: calc(50% - var(--dim) / 2 );
	left: calc(50% - var(--dim) / 2 );
}

.demo-3 .circles {
	--dim: 206vmin;
}

.circles__text {
	text-transform: uppercase;
	transform-origin: 700px 700px;
	will-change: transform, opacity;
}

.circles__text--1 {
	font-size: 25vmin;
	font-size: clamp(170px,25vmin,180px);
	font-family: var(--font-circle-1);
	font-weight: var(--font-weight-circle-1);
	fill: var(--color-text-circle-1);
}

.circles__text--2 {
	font-size: 17vmin;
	font-size: clamp(136px,17vmin,153px);
	font-family: var(--font-circle-2);
	font-weight: var(--font-weight-circle-2);
	fill: var(--color-text-circle-2);
}

.circles__text--3 {
	font-size: 13.5vmin;
	font-size: clamp(110px,13.5vmin,120px);
	font-family: var(--font-circle-3);
	font-weight: var(--font-weight-circle-3);
	fill: var(--color-text-circle-3);
}

.circles__text--4 {
	font-size: 9.5vmin;
	font-size: clamp(85px,9.5vmin,94px);
	font-family: var(--font-circle-4);
	font-weight: var(--font-weight-circle-4);
	fill: var(--color-text-circle-4);
}

@media screen and (min-width: 53em) {
	.frame {
		position: fixed;
		text-align: left;
		z-index: 100;
		top: 0;
		left: 0;
		display: grid;
		align-content: space-between;
		width: 100%;
		max-width: none;
		height: 100vh;
		padding: 2rem;
		pointer-events: none;
		grid-template-columns: 50% 50%;
		grid-template-rows: auto auto auto;
		grid-template-areas: 'title links'
							'... ...'
							'... demos';
	}
	.frame__title {
		margin: 0;
		grid-area: title;
	}
	.frame__menu {
		grid-area: menu;
		justify-self: end;
	}
	.frame__links {
		grid-area: links;
		padding: 0;
		justify-self: end;
	}
	.frame__demos {
		margin: 0;
		grid-area: demos;
		justify-self: end;
	}
	.frame a {
		pointer-events: auto;
	}
	.content {
		height: 50%;
		justify-content: center;
		text-align: left;
	}
}
